@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
}

@font-face {
    font-family: "apple-bold";
    src: url("../../font/AppleSDGothicNeoB.ttf") format("truetype");
}
@font-face {
    font-family: "apple-light";
    src: url("../../font/AppleSDGothicNeoL.ttf") format("truetype");
}
@font-face {
    font-family: "apple-medium";
    src: url("../../font/AppleSDGothicNeoM.ttf") format("truetype");
}
@font-face {
    font-family: "apple-hevy";
    src: url("../../font/AppleSDGothicNeoH.ttf") format("truetype");
}

@import url('http://fonts.cdnfonts.com/css/circular-std-book');

/* font-family: 'Circular Std Book', sans-serif;
font-family: 'Circular Std Book Italic', sans-serif;
font-family: 'Circular Std Medium', sans-serif;
font-family: 'Circular Std Medium Italic', sans-serif;
font-family: 'Circular Std Bold', sans-serif;
font-family: 'Circular Std Bold Italic', sans-serif;
font-family: 'Circular Std Black', sans-serif;
font-family: 'Circular Std Black Italic', sans-serif; */