/* reported-news */
.sec-visual.reported-news-visual{
    background: url("../../image/sub/visual/visual01.jpg") no-repeat center / cover;
}
.sec-slide.reported-news-slide{
    margin-top: 178px;
}
.reported-news-slide-container{
    overflow: hidden;
}
.sec-slide.reported-news-slide ul{
    position: relative;
    height: 220px;
}
.sec-slide.reported-news-slide ul li{
    display: flex;
    width: 100%;
    height: 100%;
    transition: 0.9s cubic-bezier(0.145, .045, .355, 1);
}
.reported-news-slide-tag{
    width: 70px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Circular Std Bold";
    color: #fff;
    margin-right: 60px;
}
.reported-news-slide-tag-new{
    background-color: #007ad0;
}
.reported-news-slide-number{
    font-size: 60px;
    line-height: 34px;
    font-family: "Circular Std Medium";
    color: #000;
    margin-right: 84px;
}
.reported-news-slide-text{
    width: calc(100%);
    padding-right: 15px;
    font-size: 30px;
    font-family: "Noto Sans Kr";
    line-height: 46px;
    transform: translateY(-10px);
}
.reported-news-slide-date{
    transform: translateY(-5px);
}
.reported-news-slide-date .slide-date-sub{
    font-size: 18px;
    font-family: "Circular Std Book";
    color: #828282;
    margin-bottom: 16px;
    text-align: center;
}
.reported-news-slide-date .slide-date-text{
    font-size: 60px;
    font-family: "Circular Std Bold";
    color: transparent;
    -webkit-text-stroke: 1px #828282;
    line-height: 34px;
}

/* personnel system */
.sec-visual.personnel-system-visual{
    background: url("../../image/sub/visual/visual02.jpg") no-repeat center / cover;
}
/* .personnel-system-schematic{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2px;
    margin-top: 80px;
    height: 194px;
    position: relative;
}
.personnel-system-schematic li{
    position: absolute;
    top: 34px;
    left: 26px;
    border-bottom: 4px;
}
.personnel-system-schematic li:nth-child(1){
    background-color: #daf0ff;
    height: calc(100% - 28 * 4);
} */